{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="inbox-wrapper">
    <div class="left-inbox">
        {% for friend in friends %}
        <a class="friend-btn" id="{{friend.follower.profile.id}}" href="{% url 'active-chat' friend.follower.profile.id %}">
            <div class="friend">
                <div class="friend-img"><img src="{{friend.follower.profile.profile_pic.url}}" alt=""></div>
                <div class="friend-name-activity">
                    <p>{{friend.follower.profile.username}}</p>
                    <p style="color: rgb(156, 153, 153);">A week ago</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>


    <div class="right-inbox">
        {% if active %}
        <h2>ASDF</h2>
        {% else %}
        <div class="friend-info">
            
        </div>
        <div class="chat-wrapper">

        </div>
        <div class="chat-input">

        </div>
        {% endif %}
    </div>


</div>

{% endblock content %}