{% extends 'main.html' %}

{% block content %}


<h1>{{profile.username}}'s POSTS</h1>
{% if user == profile %}
<a href="{% url 'edit-profile' user.id %}">Edit Profile</a>
{% endif %}
<a href="{% url 'followers' profile.id %}">Followers</a>
<a href="{% url 'following' profile.id %}">Following</a>
<hr>

{% for post in posts %}

{{post.user}}
{{post.title}}
{{post.description}}

{% if user.user == profile.user %}
<a href="{% url 'edit-post' post.id %}">Edit</a>
<a href="{% url 'delete-post' post.id %}">Delete</a>
{% endif %}

<p>Likes: {{post.like}}</p>

{% endfor %}

<a href="{% url 'home' %}">Go back</a>

{% endblock content %}