<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    

    <title>Instagram</title>
</head>
<body>
    <nav>
        <div class="nav-elements">
            <h1 class="logo"><a href="{% url 'home' %}">Instagram</a></h1>
            <form action="{% url 'search-result' %}" method="POST">
                {% csrf_token %}
                <div class="nav-search">
                    <i class="fa fa-search"></i>
                    <input type="text" name="search" placeholder="Search...">
                </div>
            </form>
            <ul class="main-nav">
                <li><a href="{% url 'home' %}"><i class='fa fa-home'></i></a></li>
                <!-- <li><a href="">Login/Register</a></li> -->
                <li><a href="{% url 'create-post' %}"><i class="fa fa-plus-square"></i></a></li>
                <li><a href="{% url 'profile' user.username %}"><img src="{% static 'images/default.png' %}" alt="" class="nav-profile"></a></li>
            </ul>
        </div>
    </nav>

    <div class="just-for-space">

    </div>

    {% block content %}


    {% endblock content %}

</body>
</html>
