<h1><a href="{% url 'home' %}">LOGO</a></h1>

Search
<form action="{% url 'search-result' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="search">
    <input type="submit">
</form>

<a href="{% url 'home' %}">Home</a>

{% if user.username == '' %}
<a href="{% url 'login' %}">Sign in</a>
{% endif %}




{% if user.username != '' %}
<a href="{% url 'create-post' %}">Make a post</a>
<a href="{% url 'profile' user.username %}">Profile</a>
<a href="{% url 'logout' %}">Log out</a>
{% endif %}
<hr>
{% block content %}


{% endblock content %}