{% extends 'main.html' %}

{% block content %}

{% load static %}

<div class="single-post-wrapper">
    <div class="post-wrapper single">
        <div class="post-top">
            <div class="user-img"><a href="{% url 'profile' post.user %}"><img src="{{post.user.user.profile.profile_pic.url}}" alt=""></a></div>
            <div class="user-name"><h5><a href="{% url 'profile' post.user %}">{{post.user}}</a></h5></div>
            {% if post.user in lst %}
            <div  class="user-follow"><a href="{% url 'unfollow' post.user.id %}" style="color: rgb(245, 56, 56);" >Unfollow</a></div>
            {% elif post.user not in lst and post.user.user != user.user %}
            <div class="user-follow"><a href="{% url 'follow' post.user.id %}">Follow</a></div>
            {% endif %}
        </div>
        <div class="post-img"><img src="{{post.photo.url}}" alt=""></div>
        <div class="post-bottom">
            <div class="post-like">
                <div class="like-btn"><a href="{% url 'like-post' post.id %}"><i class="fa fa-heart" style="font-size:30px;color:red"></i></a></div>
                <div class="like-num"><h5>{{post.like}} Like{{post.like|pluralize:"s"}}</h5></div>
            </div>
            <div class="post-description"><span><h5>{{post.user}}</h5></span><p>{{post.description}}</p></div>
            <div class="post-comments">
                <div class="time-ago single-post-time"><h6>{{post.get_date}}</h6></div>
                <div class="add-comments">
                    <form action="{% url 'create-comment' post.id %}" method="POST">
                        {% csrf_token %}
                        <input class="type-comments" type="text" placeholder="Add a comment..." name="comment">
                        <input class="post-comments" value="Post" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if not empty %}
    <div class="comments-wrapper">
        {% for comment in comments %}
        <div class="comment-wrapper">
            <div class="post-top single-top">
                <div class="user-img"><a href="{% url 'profile' comment.user %}"><img src="{{comment.user.user.profile.profile_pic.url}}" alt=""></a></div>
                <div class="user-name"><h5><a href="{% url 'profile' comment.user %}">{{comment.user}}</a></h5></div>
                <div style="margin-left: 20px;" class="user-name"><h5>{{comment.get_date}}</h5></div>
            </div>
            <div class="single-post-comment">
                <h5>{{comment.description}}</h5>
                <a href="{% url 'like-comment' comment.id %}"><i class="fa fa-heart" style="font-size:15px;color:red"></i></a>
                <h5>{{comment.likes}} Likes</h5>
                {% if comment.user == user.user.profile %}
                <h5><a href="{% url 'delete-comment' comment.post.id comment.id %}" style="color: red;">Delete</a></h5>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="comments-wrapper">
        <h1 style="text-align: center;">No comments yet!</h1>
    </div>
    {% endif %}
</div>

{% endblock content %}