{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="single-user-stories">
    <div class="progress-container">
        {% for story in modified %}
        <div id="{{story}}" class="progress-bar" data-time="{{first_show.story_length}}"></div>
        <style>
            #move{
                animation-duration: 2s;
            }
        </style>
        {% endfor %}
        <script>
            var story = document.getElementById('move')
            var story_time = story.getAttribute('data-time')
            var story_time_auto = story_time + '000'
            story.style.animationDuration = story_time + 's'
            setTimeout(function() {
            document.querySelector("#story-forward").click();
            }, parseInt(story_time_auto)); 
        </script>
    </div>
    <div class="story-content">
        <a class="left-arrow-btn" href="{% url 'story-backward' first_show.user.username first_show.id %}"><div class="left-arrow"></div></a>
        {% if first_show.story_type == 'photo' %}
        <img class="story-img" src="{{first_show.file_upload.url}}" alt="">
        {% else %}
        <video class="story-vidieo" autoplay muted width="400">
            <source src="{{first_show.file_upload.url}}" type="video/mp4">
        </video>
        {% endif %}
        <a id="story-forward" class="right-arrow-btn" href="{% url 'story-forward' first_show.user.username first_show.id %}"><div class="right-arrow"></div></a>
    </div>
</div>

{% endblock content %}